.my-drop-zone {

  border: dotted 3px lightgray;
  background-color:#114141;
  text-align: center;
  height: 150px;
}
.nv-file-over {
  border: dotted 3px green;
  text-align: center
} /* Default class applied to drop zones on over */


html,
body {
  height: 100%;
}


.suggested{

  color: #80a74d
}
.table-suggest{
  transition: 1s ease-in;
}
.isnew{

  color: white;
}

.issaved{
  color: #acb2a2
}
.isedited{
  color: yellow
}
.isdeleted{
  display: none;
}