.my-drop-zone {

  border: dotted 3px lightgray;
  background-color:#114141;
  text-align: center;
  height: 150px;
}
.nv-file-over {
  border: dotted 3px green;
  text-align: center
} /* Default class applied to drop zones on over */


html,
body {
  height: 100%;
}
