.card {
  margin-top: 1em;
  background-color: transparent;

  border: 1px solid #9cab89;
}

/* IMG displaying */
.person-card {
  margin-top: 2em;
  padding-top: 5em;
  border: 1px solid #9cab89;
}
.card-title {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
  color: #9cab89 !important;
}
.person-card .person-img {
  font-family: 'Reem Kufi', sans-serif;
  width: 10em;
  position: absolute;
  top: -4em;
  left: 50%;
  margin-left: -5em;
  border-radius: 100%;
  /* overflow: hidden; */
  background-color: transparent;
  border: 8px solid #9cab89;
  box-shadow: 7px 6px 2px #0a2a2b;
}
