/* CSS Document */
.pallete {
  color: #eaf7d9, #c3d6aa, #8ea86c, #4d642d, #283a10, #eaf7d9, #c3d6aa, #8ea86c;
}
.mega-menu {
  top: 63px;
  width: 800px;
  overflow: hidden;
  padding: 12px;
  background-color: #0f3834;
  cursor: default;
  text-align: right;
  border :1px solid #9cab89
}
.mega-menu:after,
.mega-menu:before {
  bottom: 100%;
  left: 94%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;border :1px solid #9cab89
}

.mega-menu:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #0f3834;
  border-width: 20px;
  margin-left: -20px;
}
.mega-menu:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #0f3834;
  border-width: 26px;
  margin-left: -26px;
}
.mega-menu a {
  text-decoration: none;
  color: #9cab89;
}

.mega-menu .sub-menu-heading {
  text-decoration: underline;
  color: #80a74d;
}
.bg-nav {
  background-color: #0f3834;
}
.navbar{
  height: 50px;
  border-bottom: 2px solid #9cab89;
}
.navbar-light .navbar-nav .nav-link {
  color: #9dac8a;
  width: 100px;
  margin: 0; height: 50px;
  line-height: 50px;
  display: inline-block;
}
.nav-link{
  background-color: #0f3834;
  border: none  ;
}
.navbar-nav{
  white-space: nowrap;
}
.nav-link >li :hover {
  background-color: #061615;
}
.nav-item{
  border-bottom: 2px solid #9dac8a;
  text-align: center;
}
/* .nav-item2 :hover{
  background-color: #061615;
} */
.dropdown {
  cursor: pointer;
}
@media (max-width: 500px) {
  .mega-menu {
    width: 300px;
  }
}
