<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href>Employees Upload</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Select files</h3>

      <div
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="card mb-3  p-3 text-center  my-drop-zone"
      >
        Base drop zone <i class="fa fa-cloud-upload fa-3x"></i>
      </div>

      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
    </div>
    <div *ngIf="uploadSuccess">File Upload Successfuly</div>
    <div
      class="col-md-12"
      style="margin-bottom: 40px"
      *ngIf="uploader?.queue?.length"
    >
      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader?.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td *ngIf="uploader.options.isHTML5" nowrap>
              {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
            </td>
            <td *ngIf="uploader.options.isHTML5"></td>
            <td *ngIf="uploader.options.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ width: item.progress + '%' }"
                ></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"
                ><i class="fa fa-cloud-upload"></i
              ></span>
              <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
              <span *ngIf="item.isError"><i class="fa fa-trash"></i></span>
            </td>
            <td nowrap></td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="" *ngIf="uploader?.queue?.length">
            <div
              class="progress-bar"
              role="progressbar"
              [ngStyle]="{ width: uploader.progress + '%' }"
            ></div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          <span class="fa fa-cloud-upload"></span> Upload
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s"
          (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button
          type="button"
          class="btn btn-danger btn-s"
          (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length"
        >
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>
{{ item | json }}
<!--
  /*<div *ngFor="let item of response">

    {{item|json}}}

  </div>
-->
